body {
  background-color: whitesmoke;
  font-family: sans-serif;
  color: cornflowerblue;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 10px;
  text-align: center;
  color: grey
}

ul {
  padding-top: 50px;
}

#notatka {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

button {
  width: 100px;
  padding: 7px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 2px;
  margin: 20px auto;
  color: whitesmoke;
}

button:hover {
  color: powderblue;
}

*:focus {
  outline: none;
}

input {
  font-size: 20px;
  border: none;
  border-radius: 1px;
  padding: 10px;
  margin: 60px 20px 20px 20px;
  border: 2px solid transparent;;
}

input:focus {
  border-bottom: 2px solid tomato;
}

input:hover {
  border-bottom: 2px solid tomato;
}

@media screen and (max-width: 800px){
  #notatka {
    width: 80vw;
  }
}
